<div class="row padding" *ngIf="accessData.view == 0" ><div class="col-md-12" style="margin-top: 5%;text-align: center; font-size: larger;">SORRY !! You don't have access to this page , Contact admin to activate.</div></div>
<div id="backgroundPopup_1" align="center"  *ngIf="records.length==0"><img src="{{loadingPicture}}" alt="Please Wait..." style="margin-top:150px;width:100px;" /></div>	
<div id="displaying_1" *ngIf="records.length>0">
<div class="widgets" *ngIf="accessData.view == 1" >
	<div class="row">
		<ba-card title="Category List" baCardClass="with-scroll"
			class="data-table-container" addnew="true">
		<div class="row filter-search">
				<div class="col-sm-3">
					<input class="form-control" placeholder='Search ...' [(ngModel)]="filterQuery" />
				</div>
				<div class="col-sm-3">
				</div>
				<div class="offset-sm-3 col-sm-3" *ngIf="accessData.add == 1 ">
					<button class="btn btn-primary btn-with-icon" type="button"
					(click)="newCategory(1,0)">
					<i class="ion-plus-round"></i>New Category
				</button>
				</div>
			</div>
		<div class="panel panel-default">
			<!-- <div class="panel-heading">Category Information</div>
			<div class="text-right">
				<button class="btn btn-primary btn-with-icon" type="button"
					(click)="newCategory(1,0)">
					<i class="ion-plus-round"></i>New Category
				</button>
			</div> -->
			<table class="table table-striped"
				[mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfSortBy]="sort_field"
	[mfSortOrder]="sort_dir"
				[mfRowsOnPage]="rowsOnPage" >
				<thead>
					<tr>
						<th style="width: 10%" class="text-center" ><mfDefaultSorter
								by="id_category">Id</mfDefaultSorter></th> 
						<th style="width: 30%" ><mfDefaultSorter
								by="name">Name</mfDefaultSorter></th>
						<th style="width: 30%" ><mfDefaultSorter
								by="category_code">Code</mfDefaultSorter></th>
						<th style="width: 10%" class="text-center"><mfDefaultSorter
								by="status">Status</mfDefaultSorter></th>
						<th style="width: 20%" class="text-center">Option</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of mf.data">
						<td class="text-center">{{item.id_category}}</td>
						<td>{{item.name}}</td>
						<td >{{item.category_code}}</td>
						<td class="text-center">{{ (item.status == 1) ? 'Active' :
							'In Active'}}</td>
						<td class="text-center"><button 
								class="btn btn-primary btn-icon" type="button"
								(click)="newCategory(2,item.id_category)">
								<i class="ion-edit"></i>
							</button> &nbsp;&nbsp;
							<button (click)="imageCategory(item.id_category)" 
								class="btn btn-primary btn-icon" type="button">
								<i class="fa fa-file-image-o"></i>
							</button> &nbsp;&nbsp;
							<button (click)="deleteCategory(item.id_category)" *ngIf="accessData.delete == 1 "
								class="btn btn-danger ion-trash-a"></button></td>

					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5"><mfBootstrapPaginator
								[rowsOnPageSet]="rowsOnPageSet"></mfBootstrapPaginator></td>
					</tr>
				</tfoot>
			</table>
		</div>
		</ba-card>
	</div>

	<app-modal [title]='title' [showClose]="true" (onClose)="close()"
		#editModal>
	<form #categoryfrm="ngForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="input01">Category Name*</label> <input type="text"
						class="form-control" #CategoryName="ngModel"
						[(ngModel)]="categorydet.name" name="CategoryName" autofocus
						placeholder="Category Name" required>
				</div>
				<div class="form-group">
					<label for="input01">Category Code* <span class="hint"> (Code should be unique)</span></label> <input type="text"
						class="form-control" #CategoryCode="ngModel"
						[(ngModel)]="categorydet.category_code" name="CategoryCode"
						placeholder="Category Code" required>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea class="form-control" id="description"
						#CatDescription="ngModel" [(ngModel)]="categorydet.description"
						name="CatDescription" placeholder="Category Description"></textarea>
				</div>
				<div class="form-group">
					<label for="input01">Status</label>
					<div class="input-demo radio-demo row">
						<div class="col-md-4">
							<label class="radio-inline custom-radio nowrap"> <input
								type="radio" [(ngModel)]="categorydet.status" name="status"
								id="active" value="1"> <span>Active</span>
							</label>
						</div>
						<div class="col-md-4">
							<label class="radio-inline custom-radio nowrap"> <input
								type="radio" [(ngModel)]="categorydet.status" name="status"
								id="inactive" value="0"> <span>Inactive</span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<br />
	<br />
	<div class="mfoot">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class='btn btn-primary' (click)="saveCategory(false,false)"
				[disabled]="!categoryfrm.valid || disablesubmit" *ngIf="isAddMode">Save &
				New</button>
			<button class='btn btn-success' (click)="saveCategory(false,true)"
				[disabled]="!categoryfrm.valid || disablesubmit" *ngIf="!isEditMode">Save &
				Close</button>
			<button class='btn btn-fabkinect' (click)="saveCategory(true,true)"
				[disabled]="!categoryfrm.valid || disablesubmit" *ngIf="isEditMode && accessData.edit == 1">Save &
				Close</button>
			<button class='btn btn-default' (click)="close()">Close</button>
		</div>
	</div>

	</app-modal>
	{{ bindModal(editModal) }}

	<app-modal [title]='title' [showClose]="true" (onClose)="close()"
		#imageModal>
	<form #categoryimgfrm="ngForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<ba-card title="Category Image" baCardClass="with-scroll">
				<img src="{{categoryimage.imgurl}}" class="col-md-12" *ngIf="accessData.edit == 0 && accessData.add == 0 "/>
				<ba-picture-uploader [picture]="categoryimage.imgurl" *ngIf="accessData.edit == 1 || accessData.add == 1 "
					[defaultPicture]="defaultPicture"
					[uploaderOptions]="uploaderOptions"
					(onUpload)="handleUpload($event)"></ba-picture-uploader> </ba-card>
				<div class="form-group">
					<div *ngIf="uploadFile" class="uploadfilelbl">Progress: {{ uploadProgress }}%</div>
					<div *ngIf="uploadFile">
						<div class="ui indicating olive progress">
							<div class="bar" [style.width]="uploadProgress + '%'"></div>
							<div class="label">Uploading file ({{ uploadProgress }}%)</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</form>
	<br />
	<br />
	<!-- <div class="mfoot">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class='btn btn-primary'
				(click)="saveImageCategory(categoryimage.id_category)"
				[disabled]="!categoryimgfrm.valid">Save</button>
			<button class='btn btn-default' (click)="closeimgpopup()">Close</button>
		</div>
	</div> --> </app-modal>
	{{ bindImageModal(imageModal) }}

	<app-modal [title]='title' [showClose]="true" (onClose)="close()"
		#deleteModal>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group deletemsg">Are you sure, you want to delete this
				category?</div>
		</div>
	</div>
	<br />
	<br />
	<div class="mfoot">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class='btn btn-danger'
				(click)="removeCategory(categorydet.id_category)">Delete</button>
			<button class='btn btn-default' (click)="closedeletepopup()">Close</button>
		</div>
	</div>

	</app-modal>
	{{ binddeleteModal(deleteModal) }}

</div></div>