.modal {
  padding-top: 300px;

  .modal-content {
    color: #000000 !important;

    .modal-header {
      border: 1px solid;
    }
    .modal-body{
    	color: #000000 !important;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}
.uploadfilelbl{
	color:#FFF !important;
}
.progress .label{
	color:#FFF !important;
}
.deletemsg{
	color:#FFF !important;
}
.hint{
	font-size: small !important;
    color: #e0ef74 !important;
}
