<div class="row padding" *ngIf="accessData.view == 0" ><div class="col-md-12" style="margin-top: 5%;text-align: center; font-size: larger;">SORRY !! You don't have access to this page , Contact admin to activate.</div></div>
<div id="backgroundPopup_1" align="center"  *ngIf="records.length==0"><img src="{{defaultPicture}}" alt="Please Wait..." style="margin-top:150px;width:100px;" /></div>	
<div id="displaying_1" *ngIf="records.length>0">
	<div class="widgets" *ngIf="accessData.view == 1">
	<div class="row">
		<ba-card title="Design List" baCardClass="with-scroll"
			class="data-table-container" addnew="true">
		<div class="row filter-search">
				<div class='col-sm-3'>
					<input class="form-control" placeholder='Search ...' [(ngModel)]="filterQuery" />
				</div>
				 <div class="col-sm-3" *ngIf="accessData.edit == 1 && stock_manages== 1">
					 <a translate (click)="add_stockstatus()"><button
									class="btn btn-success btn-with-icon" type="button">
									<i class="ion-checkmark-circled"></i>Add Stock
					</button></a>
					
			     </div>
				<div class="col-sm-2"  *ngIf="accessData.add == 1">
				<a routerLink="/pages/master/createdesign" translate><button
					class="btn btn-primary btn-with-icon" type="button">
					<i class="ion-plus-round"></i>New Design
				</button></a>
			   </div>
				<div class="col-sm-2"  *ngIf="accessData.add == 1">
					<a routerLink="/pages/master/createbulkdesign" translate><button
						class="btn btn-success btn-with-icon" type="button">
						<i class="fa fa-arrow-circle-right"></i>Bulk Design
					</button></a>
	            </div>
				<div class='col-sm-2'>    
					<select class="form-control input-sm"
					   [(ngModel)]="designaction" name="designaction" (change)="filter_action($event)"
					   required placeholder="Select Action">
					   <option [value]="0">Created By</option>
					   <option [value]="1">Updated By</option>
					</select>
			   </div>
			   <div class='col-sm-2'>    
					<select class="form-control input-sm"
						[(ngModel)]="adminusers" name="adminusers" (change)="filter_user($event)"
						required placeholder="Select User">
						<option value=""> - All - </option>
						<option *ngFor="let user of allusers" [value]="user.id_user"
							class="list-group-item">{{user.firstname}}</option>
					</select>
		   	   </div>
		</div>
		<div class="panel panel-default">
			<table class="table table-striped"
				[mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
				[mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
				[(mfSortOrder)]="sortOrder">
				<thead>
					<tr>
					   <th style="width: 1%" class="text-center" ><!-- <span><input type="checkbox" 
						 [checked]="overalluser"
					   (change)="overall_kycdetalis($event.target.checked)"></span> --></th>
					    
					   
					    <th style="width: 2%" *ngIf="stock_manages==1"><mfDefaultSorter
								by="id_design">ID</mfDefaultSorter></th>
						<th style="width:8%" class="text-center"><mfDefaultSorter
								by="id_design">Images</mfDefaultSorter></th>
						<th class="text-center" style="width: 8%" ><mfDefaultSorter
								by="code_design">Code</mfDefaultSorter></th>
						<th class="text-center" style="width: 15%" ><mfDefaultSorter
								by="name_design">Name</mfDefaultSorter></th>
						<th class="text-center" style="width: 15%" *ngIf="stock_manages==1"><mfDefaultSorter
								by="name_design">Branch</mfDefaultSorter></th>
						<th class="text-center" style="width: 5%" *ngIf="stock_manages==1"><mfDefaultSorter
								by="name_design" *ngIf="stock_manages==1">Stock Avaliable</mfDefaultSorter></th>
						<th class="text-center" style="width: 5%" *ngIf="stock_manages==1" ><mfDefaultSorter
								by="name_design">Add Stock</mfDefaultSorter></th>
						<th class="text-center" style="width: 5%;"><mfDefaultSorter
								by="vendor_designno">Status</mfDefaultSorter></th>
						<th class="text-center" style="width: 10%"><mfDefaultSorter
								by="category">Category</mfDefaultSorter></th>
						<th class="text-center" style="width: 10%" ><mfDefaultSorter
								by="subcategory">Sub Category</mfDefaultSorter></th>
						<th class="text-center" style="width: 10%" ><mfDefaultSorter
								by="subcategory">Created By</mfDefaultSorter></th>
						<th class="text-center" style="width: 10%" ><mfDefaultSorter
								by="subcategory">Created On</mfDefaultSorter></th>
						<th class="text-center" style="width: 10%" ><mfDefaultSorter
								by="subcategory">Updated By</mfDefaultSorter></th>
						<th class="text-center" style="width: 10%" ><mfDefaultSorter
								by="subcategory">Updated On</mfDefaultSorter></th>
						<th style="width: 50%" class="text-center">Option</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let design of mf.data">
					    <td class="text-center" *ngIf="stock_manages==1"><input type="checkbox" [disabled]="design.add_stock=='' || design.available_branch==''"
						[value]="design.isChecked" [checked]="design.isChecked"
					   (change)="multiadd_stockdetalis($event.target.checked,design)"></td>
						<td class="text-center">{{design.id_design}}</td>
						<td class="text-center"><span *ngIf="design.design_images.length>0"><img src="{{design.design_images[0].imgurl}}"  width="40" height="35"
						(click)="orderImage(design.id_design)"></span></td>
						<td class="text-center">{{design.code_design}}</td>
						<td class="text-center">{{design.name_design}}</td>
						<td class="text-center" *ngIf="stock_manages==1"><select class="form-control" placeholder="Select Branch" (change)="branch_wise($event.target.value,design)" [(ngModel)]="design.available_branch"
						style='text-align:center;height:30px;'>
						  <option value="">- All -</option>
						   <option *ngFor="let brach of branches" [value]="brach.id_branch"
							class="list-group-item">{{brach.name}}</option>
				         </select></td>
						<td class="text-center" *ngIf="stock_manages==1">{{design.avaliablestock_design.total_stock}}</td>
						<td class="text-center" *ngIf="stock_manages==1"><span><input type="text" class="form-control" [(ngModel)]="design.add_stock" name="add_stock" placeholder="Qty"
								(keyup)="stock_addprocess($event,design)" width="4px;"style='text-align:center;height:30px;'></span></td>
						<td class="text-center">{{(design.status == 1) ? 'Active' : 'In Active'}}</td>
						<td class="text-center">{{design.category}}</td>
						<td class="text-center">{{design.subcategory }}</td>
						<td class="text-center">{{design.created_by }}</td>
						<td class="text-center">{{design.created_date }}</td>
						<td class="text-center">{{design.updated_by }}</td>
						<td class="text-center">{{design.updated_date }}</td>
						<td class="text-center"><button
								class="btn btn-primary btn-icon" type="button"
								(click)="editDesign(design.id_design)" title="Edit Design">
								<i class="ion-edit"></i>
							</button> &nbsp;
							<!-- <a [routerLink]="['/pages/master/design/updatebom', design.id_design]"><button
								class="btn btn-primary btn-icon" type="button"
								 title="Edit BOM">
								<i class="ion-gear-b"></i>
							</button></a> -->
							&nbsp;
							<button (click)="imageProduct(design.id_design)"
								class="btn btn-primary btn-icon" type="button" title="Edit Images">
								<i class="fa fa-file-image-o"></i>
							</button> &nbsp;
							<button (click)="deleteDesign(design.id_design)" *ngIf="accessData.delete == 1"
								title="Delete Customer" class="btn btn-danger ion-trash-a"
								type="button">
							</button>&nbsp;
							</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="12"><mfBootstrapPaginator
								[rowsOnPageSet]="rowsOnPageSet"></mfBootstrapPaginator></td>
					</tr>
				</tfoot>
			</table>
		</div>
		</ba-card>
	</div>
	
	
<app-modal [title]='title' [showClose]="true" (onClose)="close()"
		#editModal>
	<form #designfrm="ngForm" novalidate>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="form-group">
						<label for="DesignName">Design Name*</label> <input type="text"
							class="form-control" #DesignName="ngModel"
							[(ngModel)]="designdet.name_design" name="DesignName" autofocus
							placeholder="Design Name" required>
					</div>
					<div class="form-group">
						<label for="Designcode">Design Code* <span class="hint"> (Code should be unique)</span></label> <input type="text"
							class="form-control" #Designcode="ngModel"
							[(ngModel)]="designdet.code_design" name="Designcode"
							placeholder="Design Code" required>
					</div>					
					<div class="form-group">
						<label for="input01">Category*</label> <select
							class="form-control" [(ngModel)]="designdet.category_design" name="CategoryName"
							#CategoryName="ngModel" required placeholder="Select Category" (change)="getAllSubCategory($event.target.value)">
							<option *ngFor="let cat of categories" [value]="cat.id_category"
								class="list-group-item">{{cat.name}}</option>
						</select>
					</div>

					<div class="form-group">
						<label for="input01">Sub Category*</label> <select
							class="form-control" [(ngModel)]="designdet.subcategory_design" name="SubCategoryName"
							#SubCategoryName="ngModel" required placeholder="Select Sub Category">
							<option *ngFor="let scat of subcategories" [value]="scat.id_subcategory"
								class="list-group-item">{{scat.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="input01">Collection*</label> <select
							class="form-control" [(ngModel)]="designdet.collection_design" name="CollectionName"
							#CollectionName="ngModel" required placeholder="Select Collection">
							<option *ngFor="let coll of collections" [value]="coll.id_collection"
								class="list-group-item">{{coll.name_collection}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="input01">Style*</label> <select
							class="form-control" [(ngModel)]="designdet.style_design" name="StyleName"
							#StyleName="ngModel" required placeholder="Select Style">
							<option *ngFor="let sty of styles" [value]="sty.id_style"
								class="list-group-item">{{sty.name_style}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="input01">Theme*</label> <select
							class="form-control" [(ngModel)]="designdet.theme_design" name="ThemeName"
							#ThemeName="ngModel" required placeholder="Select Theme">
							<option *ngFor="let thm of themes" [value]="thm.id_theme"
								class="list-group-item">{{thm.name_theme}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="input01">Karigar Name</label> 
						<select
							class="form-control" [(ngModel)]="designdet.vendor_design" name="VendorName"
							#VendorName="ngModel" placeholder="Select Karigar">
							<option *ngFor="let ven of vendors" [value]="ven.id_karigar"
								class="list-group-item">{{ven.firstname}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="input01">Karigar Design no.</label>
						<input type="text"
							class="form-control" #VendorDesigncode="ngModel"
							[(ngModel)]="designdet.vendor_designno" name="VendorDesigncode"
							placeholder="Vdndor Design Code" >
					</div>					
					<div class="form-group">
					<label for="input01">Show For</label>
					<div class="input-demo radio-demo row">
						<div class="col-md-4">
							<label class="radio-inline custom-radio nowrap"> <input
								type="radio" [(ngModel)]="designdet.selectcustomer" name="selectcustomer"
								id="all" value="1"> <span>All</span>
							</label>
						</div>
						<div class="col-md-4">
							<label class="radio-inline custom-radio nowrap"> <input
								type="radio" [(ngModel)]="designdet.selectcustomer" name="selectcustomer"
								id="Individual" value="0"> <span>Selected Customer</span>
							</label>
						</div>
					</div>
				</div>
				 </div>
			 </div>			
			 <div class="col-md-6">
				<div class="form-group">
					<div class="form-group">
						<label for="input01">Net Weight(Grms)*</label>
						<input type="float"
							class="form-control" #NetWt="ngModel"
							[(ngModel)]="designdet.netweight_design" name="NetWt"
							placeholder="Net Weight in grms" required>
					</div>	
					<div class="form-group">
						 <label for="options">Min Weight(Grms)*</label>
						 <input type="float"
							class="form-control" #MinWt="ngModel"
							[(ngModel)]="designdet.minweight_design" name="MinWt"
							placeholder="Min Weight in grms" required>
					</div>	
					<div class="form-group">
						 <label for="options">Size</label>
						 <input type="float"
							class="form-control" #MinWt="ngModel"
							[(ngModel)]="designdet.size" name="Size"
							placeholder="Size">
					</div>
					<div class="form-group">
						 <label for="options">Pieces</label>
						 <input type="float"
							class="form-control" #MinWt="ngModel"
							[(ngModel)]="designdet.pieces" name="Pieces"
							placeholder="Pieces">
					</div>
					<div class="form-group">
						 <div >
							<input type='checkbox' style="color:#fff !important;"
							 name='LoginNotRequired' [checked]="(designdet.login_not_required == 1)" (change)="islogreq($event.target.checked ? true : false)"
							/>
							<span  style="color:#fff !important;">No Login required</span>
						 </div>
					</div>					
					<div class="form-group">
							<input type='checkbox' style="color:#fff !important;"
							 name='IsChain'
							 value='{{designdet.is_chain}}' [checked]="(designdet.is_chain == 1)" (change)="ischain($event.target.checked ? true : false)" 
							/>
							<span  style="color:#fff !important;"> Is chain</span>
					</div>
					<div class="form-group" *ngIf="designdet.is_chain == 1" style="color:#fff !important;">
						<label for="input01">Hook Type :</label>
						   <div class="input-demo radio-demo row">
								<div class="col-md-4 text-small">
									<input type='checkbox'
									 name='s_hook_type' [checked]="(designdet.s_hook_type == 1)" (change)="shook($event.target.checked ? true : false)" 
									/> <span>S Type</span>						
								</div>
								<div class="col-md-4 text-small">
									<input type='checkbox'
									 name='m_hook_type' [checked]="(designdet.m_hook_type == 1)" (change)="mhook($event.target.checked ? true : false)"  
									/> <span>M Type</span>
								</div>
						   </div>
					</div>	
					<div class="form-group">
						 <div>
							<input type='checkbox' style="color:#fff !important;"
							 name='Isnewarrival' [checked]="(designdet.isnewarrival == 1)" (change)="isnewarr($event.target.checked ? true : false)" 
							/>
							<span  style="color:#fff !important;"> Is New arrival</span>
						 </div>
					</div>
                    <div class="form-group" *ngIf="designdet.isnewarrival==1">
				     <label for="input01">Expiry Date</label>
					<my-date-picker class="form-control" name="Expire_Date"
						#Expire_Date="ngModel" [options]="myDatePickerOptions"
						[(ngModel)]="designdet.expire"></my-date-picker>
			        </div>
					<!-- <div class="form-group" style='display:none;'>
						 <div>
							<input type='checkbox' style="color:#fff !important;"
							 name='isQuieckselect' [checked]="(designdet.is_quieckselect == 1)" (change)="isquieckselect($event.target.checked ? true : false)" value='{{designdet.is_quieckselect}}'
							/>
							<span  style="color:#fff !important;">Default Select</span>
						 </div>
					</div> -->	

					<div class="form-group" style="display:none;">
						 <label for="options">Purity :</label>
						 <div  *ngFor='let purity of purities'>
							<input type='checkbox'	name='purities' value='{{purity.id_purity}}'
							     (change)='selPurity(purity.id_purity,$event.target.checked)' [checked]="purity.isChecked" />
							<span style="color:#fff;">{{purity.purity}}</span>
						</div>
					</div> 
					<div class="form-group">
			          <label for="options">Purity*</label> 
						  <select class="form-control" [(ngModel)]="designdet.default_purity" 
							 name="default_purity" placeholder="Select Purity">
						  <option  *ngFor='let purity of purities' [value]="purity.id_purity" class="list-group-item">{{purity.purity}}</option>
						  </select>
			       </div>
					<div class="form-group">
					<label for="input01">Status :</label>
					<div class="input-demo radio-demo row">
						<div class="col-md-4">
							<label class="radio-inline custom-radio nowrap"> <input
								type="radio" [(ngModel)]="designdet.status" name="status"
								id="active" value="1"> <span>Active</span>
							</label>
						</div>
						<div class="col-md-4">
							<label class="radio-inline custom-radio nowrap"> <input
								type="radio" [(ngModel)]="designdet.status" name="status"
								id="inactive" value="0"> <span>Inactive</span>
							</label>
						</div>
					</div>
				</div>
					<div class="form-group">
					  <label for="input01">Design Expire Date</label>
						 <angular2-date-picker class="form-control" (onDateSelect)="onDateSelect($event)"  style="height:50px;" name="design_expire" #design_expire="ngModel" [settings]="settings" [(ngModel)]="expire_designdate" ></angular2-date-picker>
			      </div>
				  <div class="form-group">
					<label for="input01">Stock Add</label>
					<div class="input-demo radio-demo row">
						<div class="col-md-4">
							<label class="radio-inline custom-radio nowrap"> <input
								type="radio" [(ngModel)]="designdet.is_stock" name="selectcustomer"
								id="all" value="1"> <span>Yes</span>
							</label>
						</div>
						<div class="col-md-4">
							<label class="radio-inline custom-radio nowrap"> <input
								type="radio" [(ngModel)]="designdet.is_stock" name="selectcustomer"
								id="Individual" value="0"> <span>No</span>
							</label>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</form>
	<br />
	<br />
	<div class="mfoot">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class='btn btn-fabkinect' (click)="updateDesign(designdet.id_design)" *ngIf="isEditMode && accessData.edit == 1"
				[disabled]="!designfrm.valid" >Update</button>
			<button class='btn btn-default' (click)="close()">Close</button>
		</div>
	</div>

	</app-modal>
	{{ bindModal(editModal) }}
<!--
<app-modal [title]='title' [showClose]="true" (onClose)="closebom()"
		#editBOMModal>
	<form #bomfrm="ngForm" novalidate>
		<div class="row">
		<div class="col-md-12">
			<ba-card title="BOM Information" baCardClass="with-scroll table-panel">
				<div class="vertical-scroll">
					<form #designbomfrm="ngForm" novalidate>
						<table class="table">
							<tr>
								<th class="text-center" style="width: 5%">#</th>
								<th class="text-center" style="width: 10%">L.Type</th>
								<th class="text-center" style="width: 15%">Raw Item</th>
								<th class="text-center" style="width: 10%">Semi Finished</th>
								<th class="text-center" style="width: 15%">Finished</th>
								<th class="text-center" style="width: 10%">Category</th>
								<th class="text-center" style="width: 10%">Purity</th>
								<th class="text-center" style="width: 10%">No.of St</th>
								<th class="text-center" style="width: 10%">Net.Wt</th>
								<th class="text-center" style="width: 5%">Primary</th>
							</tr>
							<tr *ngFor="let bom of bomdetails; let i = index">
								<td><input type="checkbox" [value]="bom.isChecked"
									[checked]="bom.isChecked"
									(change)="$event.target.checked ? bom.isChecked = true : bom.isChecked = false"></td>
								<td><select class="form-control" name="linetype_bom{{i}}"
									[(ngModel)]="bom.linetype_bom" required>
										<option *ngFor="let line of BOMLines"
											[value]="line.id_bomlinetype" class="list-group-item">{{line.name_bomlinetype}}</option>
								</select></td>
								<td><select class="form-control" name="rawitemid{{i}}"
									[(ngModel)]="bom.rawitem_id" required>
										<option *ngFor="let ritm of rawitems" [value]="ritm.id_item"
											class="list-group-item">{{ritm.name_item}}</option>
								</select></td>
								<td><select class="form-control" name="semifinished{{i}}"
									[(ngModel)]="bom.semifinishitem_id">
										<option *ngFor="let ritm of rawitems" [value]="ritm.id_item"
											class="list-group-item">{{ritm.name_item}}</option>
								</select></td>
								<td><select class="form-control" name="finisheditem{{i}}"
									[(ngModel)]="bom.finishitem_id">
										<option *ngFor="let ritm of rawitems" [value]="ritm.id_item"
											class="list-group-item">{{ritm.name_item}}</option>
								</select></td>
								<td><select class="form-control" name="temcategory{{i}}"
									[(ngModel)]="bom.item_category" required>
										<option *ngFor="let citm of itemcategories"
											[value]="citm.id_itemcategory" class="list-group-item">{{citm.name_itemcategory}}</option>
								</select></td>
								<td><select class="form-control" [(ngModel)]="bom.purity"
									name="purity{{i}}" required>
										<option *ngFor="let pur of purities" [value]="pur.id_purity"
											class="list-group-item">{{pur.purity}}</option>
								</select></td>
								<td><input type="text" class="form-control"
									name="noofstones{{i}}" [(ngModel)]="bom.noofstone"
									placeholder="No.of.St" required></td>
								<td><input type="text" class="form-control"
									name="netweight{{i}}" [(ngModel)]="bom.netweight"
									placeholder="Net Wt." required></td>
								<td><input type="checkbox" [value]="bom.primaryitem"
									[checked]="bom.primaryitem"
									(change)="$event.target.checked ? bom.primaryitem = true : bom.primaryitem = false"></td>
							</tr>
							<tfoot>
								<tr>
									<td colspan="10"><div class="mfoot">
											<div
												class="offset-sm-4 col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<button class='btn btn-primary pull-center'
													(click)="btncreateNewRow()" [disabled]="!designbomfrm.valid">Add New</button>
												<button class='btn btn-danger pull-center'
													(click)="btnRemoveRow()" [disabled]="!bomdetails.length">Remove</button>
											</div>
										</div></td>
								</tr>
							</tfoot>
						</table>
					</form>
				</div>
				</ba-card>
		</div>
	</div>
	</form>
	<br />
	<div class="mfoot">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class='btn btn-fabkinect' (click)="updateBOM(designdet.id_design)"
				[disabled]="!bomfrm.valid" *ngIf="isBOMEditMode">Update</button>
			<button class='btn btn-default' (click)="closebom()">Close</button>
		</div>
	</div>
</app-modal>
 	{{ bindBOMModal(editBOMModal) }}  -->

<div class="row">
		<app-modal [title]='title' [showClose]="true"
		(onClose)="closedesignImageModal()" #designimgmodal>
	<form #categoryimgfrm="ngForm" novalidate>
	 <div class="text-center white"></div> 
		<div class="row">
			   <!--  <span *ngIf="images?.length > 0">{{aaa()}}</span> -->
			    <div class="w3-content w3-section"  *ngFor="let url of design_images;let i = index" class='col-sm-12'>
					<img src="{{url.imgurl}}" class="mySlides" alt="designs" style="width:100%;">
				</div>				
		</div>
	</form>
	<br />
	<br />
	 </app-modal> 
	 {{ binddesignModal(designimgmodal) }}	
</div>

<app-modal [title]='title' [showClose]="true"
		(onClose)="closeImageModal()" #imageModal>
	<form #categoryimgfrm="ngForm" novalidate>
		<div class="row" *ngIf="accessData.edit == 1 || accessData.add == 1 ">
			<div class="col-md-12">
				<ba-card title="Upload Product Image" baCardClass="with-scroll">
				<ba-picture-uploader [picture]="productimage.imgurl" 
					[defaultPicture]="defaultPicture"
					[uploaderOptions]="uploaderOptions"
					(onUpload)="handleUpload($event)"></ba-picture-uploader></ba-card>
				<div class="form-group">
					<div *ngIf="uploadFile" class="uploadfilelbl">Progress: {{
						uploadProgress }}%</div>
					<div *ngIf="uploadFile">
						<div class="ui indicating olive progress">
							<div class="bar" [style.width]="uploadProgress + '%'"></div>
							<div class="label">Uploading file ({{ uploadProgress }}%)</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<table class="table table-striped image-table">
				<thead>
					<tr>
						<th style="width: 10%" class="text-center">S.No</th>
						<th style="width: 40%" class="text-center">Image</th>
						<th style="width: 30%" class="text-center" *ngIf="accessData.edit == 1">Default</th>
						<th style="width: 20%" class="text-center" *ngIf="accessData.delete == 1">Option</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of productimagedata;let i = index"
						[attr.data-index]="i">
						<td class="text-center">{{(i+1)}}</td>
						<td><img style="max-width: 100%;" src="{{product.imgurl}}"></td>
						<td *ngIf="accessData.edit == 1"><input type="checkbox" [value]="product.is_default" 
							[checked]="product.is_default"
							(change)="changedefaultimg($event.target.checked, product.id_image)">
							</td>
						<td class="text-center" *ngIf="accessData.delete == 1">
							<button (click)="deleteProductImage(product.id_image)"
								class="btn btn-danger ion-trash-a"></button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4"></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</form>
	<br />
	<br />
	 </app-modal>
	{{ bindImageModal(imageModal) }}
	
	
	
	
	<app-modal [title]='title' [showClose]="true" (onClose)="closedelete()"
		#deleteModal>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group deletemsg">Are you sure, you want to
				delete this Design?</div>
		</div>
	</div>
	<br />
	<br />
	<div class="mfoot">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class='btn btn-danger'
				(click)="removeDesign(data.id_design)">Delete</button>
			<button class='btn btn-default' (click)="closedelete()">Close</button>
		</div>
	</div>

	</app-modal>
	{{ binddeletedesignModal(deleteModal) }}
  
</div>
</div>