<div class="row padding" *ngIf="accessData.view == 0" ><div class="col-md-12" style="margin-top: 5%;text-align: center; font-size: larger;">SORRY !! You don't have access to this page , Contact admin to activate.</div></div>
<div id="backgroundPopup_1" align="center"  *ngIf="records.length==0"><img src="{{loadingPicture}}" alt="Please Wait..." style="margin-top:150px;width:100px;" /></div>	
<div id="displaying_1" *ngIf="records.length>0">
<div class="widgets" *ngIf="accessData.view == 1">
	<div class="row">
		<ba-card title="Admin Users List" baCardClass="with-scroll"
			class="data-table-container" addnew="true">
			<div class="row filter-search">
				<div class="col-sm-3">
					<input class="form-control" placeholder='Search ...' [(ngModel)]="filterQuery" />
				</div>
				<div class="col-sm-3">
				</div>
				<div class="offset-sm-3 col-sm-3" *ngIf="accessData.add == 1" >
					<a routerLink="/pages/master/createadminuser" translate><button
						class="btn btn-primary btn-with-icon" type="button">
						<i class="ion-plus-round"></i>New User
					</button></a>
				</div>
			</div>
			
		<!-- <div class="row">
			<div class="col-sm-2">
				<label class="label-control">Rows on page</label> <select
					class="form-control input-sm" [(ngModel)]="rowsOnPage">
					<option [ngValue]="5">5</option>
					<option [ngValue]="10">10</option>
					<option [ngValue]="15">15</option>
				</select>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<label class="col-sm-12 label-control">Sort by</label>
				</div>
				<div class="row">
					<div class="offset-sm-1 col-sm-5">
						<div class="row">
							<select class="form-control input-sm" [(ngModel)]="sortBy">
								<option ngValue="firstname">Name</option>
								<option ngValue="status">Satatus</option>
							</select>
						</div>
					</div>
					<div class="offset-sm-1 col-sm-5">
						<div class="row">
							<select class="form-control input-sm" [(ngModel)]="sortOrder">
								<option ngValue="asc">Ascending</option>
								<option ngValue="desc">Descending</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<label class="col-sm-12 label-control">Filter with</label>
				</div>
				<div class="row">
					<div class="offset-sm-1 col-sm-5">
						<div class="row">
							<input class="form-control" [(ngModel)]="filterQuery" />
						</div>
					</div>
				</div>
			</div>
		</div>-->
		<div class="panel panel-default">
			<table class="table table-striped"
				[mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
				[mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
				[(mfSortOrder)]="sortOrder">
				<thead>
					<tr>
						<th style="width: 10%" class="text-center" ><mfDefaultSorter
								by="id_user">Id</mfDefaultSorter></th>
						<th style="width: 20%"><mfDefaultSorter
								by="firstname">Name</mfDefaultSorter></th>
						<th style="width: 25%" class="text-center"><mfDefaultSorter
								by="mobile">Mobile</mfDefaultSorter></th>
						<th style="width: 10%" class="text-center"><mfDefaultSorter
								by="status">Status</mfDefaultSorter></th>
						<th style="width: 35%" class="text-center">Option</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of mf.data">
						<td>{{item.id_user}}</td>
						<td>{{item.firstname}}</td>
						<td class="text-center">{{item.mobile}}</td>
						<td class="text-center">{{ (item.status == 1) ? 'Active' :
							'In Active'}}</td>
						<td class="text-center" ><button 
								class="btn btn-primary btn-icon" type="button"
								title="Update Credential"
								(click)="updatelogincredential(item.id_user)">
								<i class="fa fa-unlock-alt"></i>
							</button> &nbsp;
							<button (click)="updatepersonalinfo(item.id_user)" 
								title="Update Personal Info" class="btn btn-primary btn-icon"
								type="button">
								<i class="fa fa-user-circle"></i>
							</button><!-- &nbsp;-->
							<button style="display: none;" (click)="updateofficalinfo(item.id_user)" 
								title="Update Official Info" class="btn btn-primary btn-icon"
								type="button">
								<i class="ion-settings"></i>
							</button> &nbsp;
							<button (click)="updatecontactinfo(item.id_user)" 
								title="Update Contact Info" class="btn btn-primary btn-icon"
								type="button">
								<i class="fa fa-address-card "></i>
							</button> &nbsp;
							<button [routerLink]="['/pages/master/updatepermission', item.id_user]" *ngIf="accessData.edit == 1 && (item.id_profile == 1 || currUserProfile != item.id_profile)"
								title="Access Permission" class="btn btn-primary btn-icon"
								type="button">
								<i class="fa fa-cogs "></i>
							</button> &nbsp;
							<button (click)="deleteUser(item.id_user)" *ngIf="accessData.delete == 1"
								title="Delete Admin user" class="btn btn-danger ion-trash-a"
								type="button">
							</button> &nbsp;</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5"><mfBootstrapPaginator
								[rowsOnPageSet]="rowsOnPageSet"></mfBootstrapPaginator></td>
					</tr>
				</tfoot>
			</table>
		</div>
		</ba-card>
	</div>

	<app-modal [title]='title' [showClose]="true"
		(onClose)="closecredential()" #credentialModal>
	<form #credentialfrm="ngForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="input01">User Name*</label> <input type="text"
						class="form-control" #UserName="ngModel"
						[(ngModel)]="users.urname" name="UserName" autofocus
						placeholder="User Name" required>
				</div>
				<div class="form-group">
					<label for="input01">Password*</label> <input type="password"
						class="form-control" #Password="ngModel"
						[(ngModel)]="users.psword" name="Password" placeholder="Password"
						required [minLength]="4">
				</div>
				<div class="form-group">
					<div _ngcontent-c10="" class="has-warning checkbox">
						<label _ngcontent-c10=""
							class="checkbox-inline custom-checkbox nowrap"> <input
							_ngcontent-c10="" type="checkbox" value="1" name="Agree"
							#Agree="ngModel" [(ngModel)]="agree" required> <span
							_ngcontent-c10="">I agree to update new password</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</form>
	<br />
	<br />
	<div class="mfoot">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class='btn btn-primary' *ngIf="accessData.edit == 1"
				(click)="updatecredential(users.id_user)"
				[disabled]="!credentialfrm.valid || !agree">Update</button>
			<button class='btn btn-default' (click)="closecredential()">Close</button>
		</div>
	</div>
	</app-modal>
	{{ bindCredentialModal(credentialModal) }}

	<app-modal [title]='title' [showClose]="true"
		(onClose)="closepersonal()" #editpersonalModal>
	<form #personalfrm="ngForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="input01">First Name*</label> <input type="text"
						class="form-control" #FirstName="ngModel"
						[(ngModel)]="users.firstname" name="FirstName" autofocus
						placeholder="First Name" required>
				</div>
				<div class="form-group">
					<label for="input01">Last Name*</label> <input type="text"
						class="form-control" #LastName="ngModel"
						[(ngModel)]="users.lastname" name="LastName"
						placeholder="Enter Last Name" required>
				</div>
				<div class="form-group" style="display: none;">
					<label for="input01">D.O.B</label>
					<my-date-picker class="form-control" name="Date_of_Birth"
						#Date_of_Birth="ngModel" [options]="myDatePickerOptions"
						[(ngModel)]="users.dob"></my-date-picker>
				</div>
				<div class="form-group">
					<label for="input01">Profile</label> <select class="form-control"
						[(ngModel)]="users.id_profile" name="profile" #profile="ngModel"
						required placeholder="Select Profile">
						<option *ngFor="let pro of profiles" [value]="pro.id_profile"
							class="list-group-item">{{pro.profile_name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="input01">Status</label>
					<div class="input-demo radio-demo row">
						<div class="col-md-4">
							<label class="radio-inline custom-radio nowrap"> <input
								type="radio" [(ngModel)]="users.status_user" name="status_user"
								id="active" value="1"> <span>Active</span>
							</label>
						</div>
						<div class="col-md-4">
							<label class="radio-inline custom-radio nowrap"> <input
								type="radio" [(ngModel)]="users.status_user" name="status_user"
								id="inactive" value="0"> <span>Inactive</span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<br />
	<br />
	<div class="mfoot">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class='btn btn-primary' *ngIf="accessData.edit == 1"
				(click)="updatepersonaldetail(users.id_user)"
				[disabled]="!personalfrm.valid">Update</button>
			<button class='btn btn-default' (click)="closepersonal()">Close</button>
		</div>
	</div>

	</app-modal>
	{{ bindPersonalDetailModal(editpersonalModal) }}

	<app-modal [title]='title' [showClose]="true"
		(onClose)="closeofficial()" #editOfficialModal>
	<form #officialfrm="ngForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="input01">Employee Code</label> <input type="text"
						class="form-control" #Empcode="ngModel"
						[(ngModel)]="users.emp_code" name="Empcode" autofocus
						placeholder="Employee Code">
				</div>
				<div class="form-group">
					<label for="input01">D.O.J</label>
					<my-date-picker class="form-control" name="Date_of_Join"
						#Date_of_Join="ngModel" [options]="myDatePickerOptions"
						[(ngModel)]="users.doj"></my-date-picker>
				</div>
				<div class="form-group">
					<label for="input01">Department</label> <select
						class="form-control" [(ngModel)]="users.dept" name="department"
						#department="ngModel" required placeholder="Select Department">
						<option *ngFor="let dept of departments" [value]="dept.id_dept"
							class="list-group-item">{{dept.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="input01">Designation</label> <select
						class="form-control" [(ngModel)]="users.designation" name="desig"
						#desig="ngModel" required placeholder="Select Designation">
						<option *ngFor="let des of designations" [value]="des.id_design"
							class="list-group-item">{{des.name}}</option>
					</select>
				</div>
			</div>
		</div>
	</form>
	<br />
	<br />
	<div class="mfoot">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class='btn btn-primary' *ngIf="accessData.edit == 1"
				(click)="updateofficialdetail(users.id_user)"
				[disabled]="!officialfrm.valid">Update</button>
			<button class='btn btn-default' (click)="closeofficial()">Close</button>
		</div>
	</div>

	</app-modal>
	{{ bindOfficialModal(editOfficialModal) }}

	<app-modal [title]='title' [showClose]="true"
		(onClose)="closeaddress()" #editAddressModal>
	<form #addressfrm="ngForm" novalidate>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="input01">Address1*</label> <input type="text"
						class="form-control" #Address1="ngModel"
						[(ngModel)]="users.address1" name="Address1" autofocus
						placeholder="Address1" required>
				</div>
				<div class="form-group">
					<label for="input01">Address2</label> <input type="text"
						class="form-control" #Address2="ngModel"
						[(ngModel)]="users.address2" name="Address2" autofocus
						placeholder="Address1">
				</div>
				<div class="form-group">
					<label for="input01">Address3</label> <input type="text"
						class="form-control" #Address3="ngModel"
						[(ngModel)]="users.address3" name="Address3" autofocus
						placeholder="Address3">
				</div>
				<div class="form-group">
					<label for="input01">Phone</label> <input type="number"
						class="form-control" #phone="ngModel" [(ngModel)]="users.phone"
						name="phone" autofocus placeholder="Phone">
				</div>
				<div class="form-group">
					<label for="input01">Mobile*</label> <input type="number"
						class="form-control" #Mobileno="ngModel"
						[(ngModel)]="users.mobile" name="Mobileno" autofocus
						placeholder="Mobile" required>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="input01">Email</label> <input type="text"
						class="form-control" #emailid="ngModel" [(ngModel)]="users.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
						name="emailid" autofocus placeholder="Email Id">
				</div>
				<div class="form-group">
					<label for="input01">Country*</label> <select class="form-control"
						[(ngModel)]="users.id_country" name="country" #country="ngModel"
						required placeholder="Select Country"
						(change)="getStateforCountry($event.target.value)">
						<option *ngFor="let con of countries" [value]="con.id_country"
							class="list-group-item">{{con.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="input01">State*</label> <select class="form-control"
						[(ngModel)]="users.id_state" name="state" #state="ngModel"
						required placeholder="Select State"
						(change)="getCityforState($event.target.value)">
						<option *ngFor="let st of states" [value]="st.id_state"
							class="list-group-item">{{st.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="input01">City*</label> <select class="form-control"
						[(ngModel)]="users.id_city" name="city" #city="ngModel" required
						placeholder="Select City">
						<option *ngFor="let ct of cities" [value]="ct.id_city"
							class="list-group-item">{{ct.name}}</option>
					</select>
				</div>
			</div>
		</div>
	</form>
	<br />
	<br />
	<div class="mfoot">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class='btn btn-primary' *ngIf="accessData.edit == 1"
				(click)="updateAddress(users.id_user)"
				[disabled]="!addressfrm.valid">Update</button>
			<button class='btn btn-default' (click)="closeaddress()">Close</button>
		</div>
	</div>

	</app-modal>
	{{ bindAddressModal(editAddressModal) }}
	<app-modal [title]='title' [showClose]="true" (onClose)="closedelete()"
		#deleteModal>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group deletemsg">Are you sure, you want to
				delete this admin user?</div>
		</div>
	</div>
	<br />
	<br />
	<div class="mfoot">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class='btn btn-danger'
				(click)="removeUser(users.id_user)">Delete</button>
			<button class='btn btn-default' (click)="closedelete()">Close</button>
		</div>
	</div>

	</app-modal>
	{{ binddeleteModal(deleteModal) }}
</div></div>